/* div {
  width: 150px;
  height: 150px;
  display: flex;
  margin: 5px;
}
.one {
  background: linear-gradient(red, blue);
}
.two {
  background: linear-gradient(to top, red, green, yellow, green);
}
.three {
  background: linear-gradient(to top left, blue, green);
}
.four {
  background: linear-gradient(360deg, red, green);
}
.five{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9));
}
.six{
    background: linear-gradient(to left, rgba(0,0,0,0.3),rgba(0,0,0,0.9));
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  min-height: 100vh;
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  color: orange;
}
.banner {
  background: url("./css background repeat position attachment/images/horse.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background: url("./css background repeat position attachment/images/horse.jpeg")center/cover no-repeat fixed;
}
