/* #first {
  color: rgb(255, 0, 0);
  background-color: chocolate;
}
#second {
  color: crimson;
  background-color: yellow;
}

body {
  background: rgb(102, 34, 200);
} */

#first {
  color: rgb(100, 123, 56);
  background: rgba(0, 0, 0, 0);
}

#second {
  color: rgb(45, 10, 34);
  background: #ff0000;
}
