div {
  border: 3px solid rebeccapurple;
  background: red;
  margin-top: 40px;
}
button {
 background: red;
  font-size: 40px;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
}
.one {
  background: blue;
}
.two {
  background: green;
  position: relative;
}
.special {
  background: lightcoral;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
